<!-- 在头部引用 FontAwesome 图标库 -->
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<h5 class="font-semibold">About me</h5>
<div class="line line-dashed"></div>
<div class="m-b-lg">
    <span class="thumb-sm avatar m-r-sm m-t-xs">
        <img src="/assets/images/avatar.png" class="img-circle blur-effect">
    </span>
    <p class="clear text-sm">
        Name: Madden Zhang<br/>
        Business Domain: E-commerce, FinTech<br/>
        Technical Domain: Distributed Systems, Microservices<br/>
        Location: Beijing<br/>

        <!-- 使用图标替代文字链接 -->
        <a href="https://github.com/maddenmanel/" target="_blank">
            <i class="fab fa-github"></i> maddenmanel
        </a><br/>
        
        <a href="https://www.linkedin.com/in/xuegang-zhang/" target="_blank">
            <i class="fab fa-linkedin"></i> xuegang-zhang 
        </a><br/>
        
        <a href="https://x.com/V3wJKOhFl6maVQ9" target="_blank">
            <i class="fab fa-twitter"></i> Maddon Rechard
        </a><br/>
        <!-- 使用邮件图标 -->
        <a href="mailto:zhangxuegang@gmail.com">
            <i class="fas fa-envelope"></i> zhangxuegang@gmail.com
        </a>
    </p>
    <span class="thumb-sm m-r-sm m-t-xs">
        <span style="font-weight: bold;">Subscribe my articles</span><br/>
        <img src="/assets/images/subscription.png">
    </span>
</div>

<style>
    .blur-effect {
        filter: blur(2px);
        transition: filter 0.3s ease;
    }
    .blur-effect:hover {
        filter: blur(0);
    }
</style>