<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <section id="content">
      <div class="container m-t-lg m-b-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="blog-post">
              <div class="post-item">
                <div class="caption wrapper-lg">
                  <!-- Post Title -->
                  <h4 class="post-title">{{ page.title }}</h4>
                  
                  <!-- Progress bar (if needed) -->
                  <div class="progress progress-xxs m-t-sm">
                    <div class="progress-bar progress-bar-success" data-toggle="tooltip" style="width: 100%"></div>
                  </div>

                  <!-- Post Content -->
                  <div class="post-sum">
                    {{ content }}
                  </div>

                  <!-- Utterances Comments Section -->
                  <div class="comments-section">
                    <h4>Comments</h4>
                    <script src="https://utteranc.es/client.js"
                            repo="maddenmanel/maddenmanel.github.io"
                            issue-term="pathname"
                            theme="github-light"
                            crossorigin="anonymous"
                            async>
                    </script>
                  </div>

                  <!-- Author and Metadata Information -->
                  <section class="panel panel-default">
                    <div class="panel-body">
                      <a href="https://github.com/{{ site.github_username }}" class="thumb pull-right m-l">
                        <img src="/assets/images/avatar.png" class="img-circle">
                      </a>
                      <div class="clear">
                        <p>
                          <small class="block text-muted">
                            {% if page.author %}
                              <a href="https://github.com/{{ site.github_username }}" class="text-info">@{{ page.author }}</a>{% endif %}
                            <i class="fa fa-clock-o icon-muted"></i> {{ page.date | date: "%b %-d, %Y" }}
                            {% if page.meta %}
                              <a href="#" class="m-l-sm">
                                <i class="fa fa-comment-o icon-muted"></i> {{ page.meta }}
                              </a>
                            {% endif %}
                          </small>
                        </p>
                      </div>
                    </div>
                  </section>

                </div> <!-- End of Post Item -->
              </div> <!-- End of Caption -->
            </div> <!-- End of Blog Post -->
          </div> <!-- End of Column -->
        </div> <!-- End of Row -->
      </div> <!-- End of Container -->
    </section> <!-- End of Content Section -->

  </body>
</html>